<h1>Sign Up below: </h1>

<% if !@user.errors.empty? %>
  <h3>Sorry, we experienced the following errors!</h3>
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %>
    <br>
    <br>
  <% end %>
<% end %>

<%= render 'form' %>

<br>
<br>
<p><%= link_to('Sign Up with Facebook!', '/auth/facebook') %></p>