<h1>Trail Name</h1>
<h2><%= @trail.name %></h2>
<br>
<h3>Trail Length</h3>
<h4><%= @trail.length %></h4>
<br>
<br>

<% if user_modification? %>
  <%= link_to "Edit Trail", edit_trail_path(@trail) %>
  <br>
  <%= link_to "Delete Trail", @trail, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>